[Desktop Entry]
Name=Libby
Comment=An application for the COSMIC™ desktop
Type=Application
Icon=com.github.codegod100.libby
Exec=libby %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
